@import (reference) "../../common/variables.less";

.bv {
  &-container {
    padding: 5rem;
    width: 100%;
    height: max-content;
    align-content: center;
    text-align: start;
    @media @sm {
      padding: 2.5rem;
      background-position: center left;
    }
    @media @xs {
      padding: 0.5rem;
      font-size: 14px;
    }

    &.design-1 {
      background-color: @landing-blue;
      color: @white-bg;
    }

    &.design-2 {
      background: linear-gradient(@light-blue-bg,@white-bg);
      color: @primary-blue;
    }

    &.design-3 {
      background: linear-gradient(to left,@landing-blue,@secondary-blue);
      color: @white-bg;
    }

    &.design-4 {
      background: linear-gradient(@light-blue-bg,@landing-blue);
      color: @white-bg;
    }

    &.design-5 {
      background: linear-gradient(to top,@light-blue-bg,@landing-blue);
      color: @white-bg;
    }

    &.design-6 {
      background: linear-gradient(to right,@light-blue-bg,@secondary-blue,@landing-blue);
      color: @landing-fg;
    }

    &.design-7 {
      background: linear-gradient(@landing-blue,@light-blue-bg,@landing-blue);
      color: @landing-fg;
    }

    &.design-8 {
      background: linear-gradient(45deg,@landing-blue,@light-blue-bg,@landing-blue);
      color: @landing-fg;
    }

    &.design-9 {
      background: linear-gradient(to left,@light-blue-bg,@white-bg);
      color: @primary-blue;
    }

    &.design-10 {
      background: radial-gradient(circle at left, #58a) top left,
      radial-gradient(circle at top right, transparent 15px, #58a 0) top right;

      background-size: 50% 50%;
      background-repeat: no-repeat;
      color: @primary-blue;
    }

  }

  &-list {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    line-height: 1;
    @media @xs-sm {
      width: 100%;
      flex-wrap: wrap;
    }
    @media @sm {
      padding-top: 1rem;
    }
  }

  &-block {
    display: flex;
    padding: 1rem 0;
    flex: 1 1 23%;

    @media @xs-sm {
      flex: 1 1 45%;
      padding: 0.25rem;
    }

    svg line {
      stroke: @secondary-blue;
    }
  }

  &-item {
    text-align: start;
    width: 200px;
    padding: 1rem 2rem;
    line-height: 1.2em;

    @media @xs {
      text-align: start;
      margin-left: 0!important;
      margin-right: 0!important;
    }

    &-title {
      display: block;
    }
    &-description {
      margin: 0;
    }
  }
}
