@import (reference) "../../common/variables.less";

.bv {
  &-container {
    padding: 5rem;
    width: 100%;
    height: max-content;
    align-content: center;
    text-align: start;

    background-color: @landing-sec-light-blue;

    @media @sm {
      padding: 2.5rem;
      background-position: center left;
    }

    @media @xs {
      padding: 0.5rem;
      font-size: 14px;
    }

  }

  &-list {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    line-height: 1;
    @media @xs-sm {
      width: 100%;
      flex-wrap: wrap;
    }
    @media @sm {
      padding-top: 1rem;
    }
  }

  &-block {
    display: flex;
    padding: 1rem 0;
    flex: 1 1 23%;

    @media @xs-sm {
      flex: 1 1 45%;
      padding: 0.25rem;
    }

    svg line {
      stroke: @landing-blue;
    }
  }

  &-item {
    text-align: start;
    width: 200px;
    padding: 1rem 2rem;
    line-height: 1.2em;

    @media @xs-sm {
      margin-left: 0!important;
      margin-right: 0!important;
      width: 85vw;
      padding: 1rem 1.5rem;
    }

    &-title {
      display: block;
    }
    &-description {
      margin: 0;
    }
  }
}
