@import (reference) "../../common/variables.less";

esl-d-sidebar {
  .sidebar-nav-secondary {
    max-width: 85%;
  }
  .sidebar-nav-secondary-list {
    padding: 2px 0;
  }
  .sidebar-nav-secondary-item {
    display: block;
    position: relative;
    padding: 10px 35px 10px 70px;
    @media @sm {
      padding-left: 81px;
    }
    @media @md-xl {
      padding-left: 40px;
    }
    &.draft::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 24px;
      width: 1.15rem;
      height: 1.15rem;
      transform: translateY(-50%);

      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('/assets/common/flask.svg');
    }
  }
  .sidebar-nav-secondary-link {
    display: block;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;

    color: inherit;

    &:hover {
      color: @nav-dark-hover;
    }
  }
  .sidebar-md-headings-list {
      display: block;
      width: 95%;
      margin-left: 16px;
  }
}

.nav-hover {
    &:hover {
        color: @nav-dark-hover!important;
        text-decoration: none;
    }
}
