@import (reference) "../common/variables.less";

.collection-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: space-around;
  grid-gap: 15px 30px;

  &-item {
    justify-self: center;
    width: 100%;
    max-width: 310px;
    border: 1px solid #C8D6F0;

    &:hover {
      text-decoration: none;
    }
  }
  &-item:hover &-box {
    color: @primary-blue;
  }

  &-box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  &-title {
    height: 60px;
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
  }
}
