@import (reference) "./variables.less";

.btn {
  margin-top: 10px;
  padding: 10px 20px;
  display: block;

  border: 1px solid @landing-blue;
  border-radius: 8px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  z-index: 4;

  &:hover {
    text-decoration: none;
  }

  &-primary {
    color: #fff;
    background-color: @landing-blue;

    &:hover {
      color: #fff;
      background-color: @landing-sec-blue;
      border-color: @landing-sec-blue;
    }
  }

  &-secondary {
    color: @landing-blue;
    background-color: rgba(255,255,255,.75);

    &:hover {
      color: @landing-sec-blue;
      border-color: @landing-sec-blue;
    }
  }
}
