@import (reference) "./variables.less";

// Margin-bottom
.mb {
  &-1 {
    margin-bottom: 0.5rem !important;
  }
  &-2 {
    margin-bottom: 1rem !important;
  }
  &-4 {
    margin-bottom: 2rem !important;
  }
}

// List helpers
.unstyled-list {
  list-style-type: none;
}

// Text
.text-center {
  text-align: center !important;
}

// A11ty helpers
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
