@import "./colors.less";

.markdown-container {
  h1, h2, h3, h4, h5, h6 {
    color: @nav-accent;
    margin-bottom: 20px;

    &:not(:first-child) {
      margin-top: 25px;
    }
  }

  & ul,
  & ol {
    padding-left: 1.5rem;

    p {
      margin-bottom: 0.5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  pre {
    background-color: #fff;
    border-radius: 4px;
    padding: 25px 20px;
  }
}
