<!DOCTYPE html>
<html lang="{{ lang or 'en' }}" {% if scrollbar %} class="esl-scrollable-content" {% endif %}>
  <head>
    <title>{{ seoTitle or title or site.description }}</title>
    <link rel="canonical" href="{{page.url | canonical | url }}"/>
    {# Site meta information #}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if description %}
      <meta name="description" content="{{ description | escape}}">
    {% endif %}
    {%if keywords %}
        <meta name="keywords" content="{{keywords}}">
    {% endif %}

    {# Additional site meta information #}
    {% block meta %}{% endblock meta %}
    {# Site icon #}
    <link rel="icon" type="image/png" href="{{ '/assets/logo-64x64.png' | url }}"/>

    {% block headlib %}
      <link rel="stylesheet" type="text/css" href="{{ '/bundles/localdev.css' | url }}"/>
    {% endblock %}
    {% block head %}{% endblock %}
  </head>
  <body>

    <div class="page {{ baseClass }}">
      {% block content %}{% endblock %}
    </div>

    {% block body %}{% endblock %}

    {% if scrollbar %}
      <esl-scrollbar class="page-scrollbar" target="html"></esl-scrollbar>
    {% endif %}

    {% block bodylib %}
      <script src="{{ '/bundles/localdev.js' | url }}"></script>
   {% endblock %}
  </body>
  <script>
  const checkLinks = () => {
  const links = document.querySelectorAll("a");
  const sidebarLinks = [];
  Array.from(links).map(elem=>{
    if(elem.classList.contains("sidebar-nav-secondary-link")){
      sidebarLinks.push(elem.attributes.href.value);
    };
  });
  links.forEach(mdLink=>{
    const href = mdLink.getAttribute("href");
    if(href.match(/.+\.md/)){
      sidebarLinks.forEach(sideLink=>{
        const sideLinkSplit = sideLink.split("/");
        const sideLinkValueNum = sideLinkSplit.length;
        const sideLinkValue = sideLinkSplit[sideLinkValueNum - 2];
        sideLinkValue === href.replace(".md", "") && mdLink.setAttribute("href", sideLink);
      });
    };
  });
  };
  checkLinks();
  </script>
</html>
