{% extends './base.njk' %}
{% set baseClass = 'sidebar-layout' %}
{% block content %}
  {% include 'navigation/header.njk' %}
  {% include 'navigation/sidebar.njk' %}
  <main class="esl-scrollable-content">
    <div class="content {{ containerCls or 'container markdown-container' }} {{ 'container-aside' if aside }}">
      {% set fullPage = collections.content | findByPage(page) %}
      
      {% if fullPage and fullPage.mainParentPage %}
        <h1>{{ fullPage.mainParentPage.data.title }}</h1>
      {% endif %}
      
      {{ content | safe or 'No content.' }}
    </div>
    <footer class="footer-compact container-fluid">
      {% include 'navigation/footer-compact.njk' %}
    </footer>
  </main>
  <esl-scrollbar target="::prev" class="main-scroll"></esl-scrollbar>
  <div class="header-shadow"></div>
{% endblock %}
