{% extends './base.njk' %}
{% set baseClass = 'landing-layout' %}

{% block content %}
  {% include 'navigation/header.njk' %}
  {% include 'navigation/sidebar.njk' %}
  <main class="esl-scrollable-content">
    <div class="content">
      {{ content | safe or 'No content.' }}
    </div>
    <footer class="footer">
      {% include 'navigation/footer.njk' %}
    </footer>
  </main>
  <esl-scrollbar target="::prev" class="main-scroll scrollbar-blue"></esl-scrollbar>
  <div class="header-shadow"></div>
{% endblock %}
