---
layout: content
---

<h2 class="popular-articles-title">Welcome on Exadel authoring Kit for AEM</h2>
<h3 class="popular-articles-subheader">Popular articles</h3>
<ul class="popular-articles-container">
  {% for article in articles %}
  {# Check if article is manually added #}
    {% if article.title and article.content and article.url  %}
      <li class="popular-articles-item">
        <h4 class="mb-2">{{ article.title }}</h4>
        <p class="popular-articles-content">{{ article.content }}</p>
        <a href="{{ article.url | url }}">Learn More</a>
      </li>
    {# Search for articles only using its link (/content/..) #}
    {% else %}
    {% set articleLink = article %}
      {% for item in collections.all | filterArticles(articleLink) %}
        <li class="popular-articles-item">
          {% set text = item.data.content %}
          <h4 class="mb-2">{{ text | articleHeader | striptags }}</h4>
          <p class="popular-articles-content">{{ text | articleContent | striptags }}</p>
          <a href="{{ item.data.page.filePathStem | url }}"> Learn More</a>
        </li>
      {% endfor %}
    {% endif %}
  {% endfor %}
</ul>
