{% extends "./content.njk" %}

{% block body %}
<esl-popup id="popup1" position="top">
  <div style="height: 70px; width:250px;"></div>
  <span class="esl-popup-arrow"></span>
</esl-popup>
<esl-popup id="popup2" position="bottom">
  <div style="height: 70px; width:250px;"></div>
  <span class="esl-popup-arrow"></span>
</esl-popup>
<esl-popup id="popup3" position="left">
  <div style="height: 250px; width:70px;"></div>
  <span class="esl-popup-arrow"></span>
</esl-popup>
<esl-popup id="popup4" position="right">
  <div style="height: 250px; width:70px;"></div>
  <span class="esl-popup-arrow"></span>
</esl-popup>

<esl-popup id="popup01" position="top">
  <div style="height: 70px; width:250px;"></div>
</esl-popup>
<esl-popup id="popup02" position="bottom">
  <div style="height: 70px; width:250px;"></div>
</esl-popup>
<esl-popup id="popup03" position="left">
  <div style="height: 250px; width:50px;"></div>
</esl-popup>
<esl-popup id="popup04" position="right">
  <div style="height: 250px; width:50px;"></div>
</esl-popup>
{% endblock %}
