---
layout: content
---

<div class="content">
    <div>
        <h2 class="popular-articles-page-title">Welcome on Exadel authoring Kit for AEM</h2>
        <h3 class="popular-articles-page-subheader">Popular articles</h3>
        <div>
            <ul class="popular-articles-container">
                {% for article in popularArticles %}
                    <li class="popular-articles-item">
                        <h3 class="mb-2">{{ article.title }}</h3>
                        <p>{{ article.textPreview }}</p>
                        <a href="/{{article.url}}">Learn More</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>