@import "../common/variables.less";

.popular-articles {
  &-container {
    padding: 0 !important; // override global markdown style for ul 
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-gap: 50px;
    @media @lg-xl {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &-item {
    list-style: none;
  }

  &-subheader {
    margin-bottom: 40px !important;// override global markdown style for h2 
  }

  &-content {
    margin-bottom: 5px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
}
