<coral-anchorlist
    data-sly-use.renderCondition="com.exadel.aem.toolkit.core.authoring.models.RenderConditionSupport"
    data-sly-test="${renderCondition.check}"
    data-sly-use.configList="com.exadel.aem.toolkit.core.configurator.models.internal.ConfigList"
    data-sly-list.config="${configList.configurations}"
    id="${properties.granite:id}"
    class="${properties.granite:class}">
    <sly data-sly-test="${configList.index < 20} "data-sly-call="${configItem @ config=config}"/>
</coral-anchorlist>

<template id="${properties.granite:id}-extras">
    <div data-sly-list.config="${configList.configurations}">
        <sly data-sly-test="${configList.index >= 20} "data-sly-call="${configItem @ config=config}"/>
    </div>
</template>

<sly data-sly-template.configItem="${@ config}">
    <hr>
    <a data-sly-set.path="${request.pathInfo @ extension = 'html'}"
       data-sly-set.href="${[path, '/', config.pid] @ join=''}"
       is="coral-anchorlist-item"
       class="config ${config.factory ? 'factory' : ''}"
       icon="${config.factory ? 'gearsAdd' : 'gears'}"
       href="${!config.factory ? href : ''}"
       x-cq-linkchecker="valid">

        <div class="caption">
            <span class="title">${config.title}</span>
            <span class="description">${config.description}</span>
        </div>
        <div class="pid">${config.factory ? config.title : config.pid}</div>
        <div data-sly-test="${config.factory} "class="factory-label">Factory</div>
    </a>

    <sly data-sly-test="${config.factory}"
         data-sly-list.childConfig="${config.children}">
        <a is="coral-anchorlist-item"
           class="config child"
           icon="gear"
           data-sly-set.path="${request.pathInfo @ extension = 'html'}"
           href="${path}/${childConfig.pid}"
           x-cq-linkchecker="valid">

            <div class="pid">${childConfig.pid}</div>
        </a>
    </sly>
</sly>
