<div class="container">
  <hr class="footer-divider"/>
  <div class="text-center text-gray">
    <div>EAK v{{ env.version }} © 2021 Exadel, Inc</div>
    <div>
      Core Team Contributors:

    </div>
  </div>
</div>