<div class="container">
  <hr/>
  <div class="footer-compact-copyright">
    EAK v{{ env.version }} © {{env.date.getFullYear()}} <a class="footer-compact-link" href="{{ site.exadel }}" target="_blank">Exadel</a>, Inc
  </div>
</div>
