<div class="container">
  <hr/>
  <div class="text-center text-gray">
    <div>EAK v{{ env.version }} © {{env.date.getFullYear()}} <a class="footer-compact-link" href="{{ site.exadel }}" target="_blank">Exadel</a>, Inc</div>
  </div>
</div>
