<div class="container footer-container footer-margin">
  <div class="footer-common-links-container">
    <div class="footer-common-links">
      <div class="footer-copyright">
        EAK v{{ env.version }} © {{ env.date.getFullYear()}} <a class="footer-link" href="{{site.exadel}}">Exadel</a>, Inc.
        Code licenced under <a class="footer-link" href="{{site.apacheLicense}}">Apache 2.0</a>
      </div>
    </div>
    <div class="footer-common-links footer-common-links-right">
      <a class="footer-link" href="{{ site.github.url }}" target="_blank">
          {% include "static/assets/helpers/github.svg" %}
      </a>
    </div>
  </div>
</div>
