<header class="header">
  <nav class="header-container container">
    <a class="header-link header-logo fill-light logo-animated" href="{{ '/' | url }}" aria-label="landing page">
      <span class="header-short-name">{% include "static/assets/helpers/icon.svg" %}</span>
      <span class="header-long-name mx-1"><span class="mx-2 svg-logo">{% include "static/assets/helpers/icon.svg" %}</span> {{ site.name }}</span>
    </a>
    <ul class="header-links">
      {# <li class="header-li">
        <a class="header-link" href="{{ url  }}">{% include "static/assets/helpers/search.svg" %}</a>
      </li> #}
      <li class="header-li">
        <a class="header-link" href="{{ '/components' }}">Manuals</a>
      </li>
      <li class="header-li">
        <a class="header-link" href="{{ landing.urls.docsUrl }}">API Docs</a>
      </li>
      <li class="header-li">
        <a class="header-link" href="{{ landing.urls.articleExadelUrl }}">Blog</a>
      </li>
      <li class="header-li">
        <a class="header-link" href="{{ site.github.url }}" target="_blank">
          {% include "static/assets/helpers/github.svg" %}
        </a>
      </li>
    </ul>
     <div class="header-btn"><a href="{{landing.urls.installationUrl}}" class="btn btn-blue btn-media header-btn-link ">Get started</a></div>
    <div class="header-utility">
      <esl-trigger class="header-hamburger" target="#sidebar" aria-label="navigation menu"></esl-trigger>
    </div>
  </nav>
</header>
