{% macro related(pages, collection, title) %}
  {% if pages %}
    <div class="related-card">
      <h2 class="related-card-heading">{{ title }}</h2>
      <ul class="related-card-list">
        {% set links = functions.findItemsByName(pages, collections[collection]) %}
        {% for page in links | released %}
          <li class="related-card-item">
            <a class="badge badge-link badge-md" href="{{ page.url | url }}">{{ page.data.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endmacro %}