{% macro navitem(collection) %}
  <div id="sidebar-{{ collection }}-menu">
    <ul class="sidebar-nav-secondary-list">
      {% for item in collections[collection] | released | sortByOrder %}
        {% set isActive = page.url === item.url %}
        {% set isDraft = [].concat(item.data.tags).includes('draft') %}
        <li class="sidebar-md-headings-list p-1">
            <esl-trigger class="sidebar-nav-item-trigger mx-0" {% if isPrimaryActive %}active{% endif %} target="{{'#' + item.data.val}}">
            <span class="fs-2 sidebar-md-name">{{item.data.name}}</span>
            </esl-trigger>
            <esl-panel class="sidebar-nav-secondary {{open if isActive}}"
                {% if isActive %}data-open{% endif %}
                group="esl-nav"
                id="{{item.data.val}}">
                <ul class="sidebar-nav-item">
                    {% for elem in headings[item.data.val] %}
                    <li class="sidebar-nav-secondary-item p-2">
                    <span><a class="sidebar-nav-secondary-link mdheadings fw-300" href={{item.url + elem['content'] | toUrlAnchor}} >{{elem['content']}}</a></span>
                    </li>
                    {% endfor %}
                </ul>
            </esl-panel>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endmacro %}
<script>
    document.querySelector('a').forEach(elem=>{
        elem.addEventListener('click', (e)=>{
            e.preventDefault()
        })
    });

</script>
