{% from 'navigation/sidebar-item.njk' import navitem with context %}

<esl-d-sidebar id="sidebar" class="open" aria-label="Site Navigation">
  <nav class="sidebar-nav">
    <a class="sidebar-heading" href="{{ '/' | url }}">
      <span class="sidebar-logo fill-light">{% include "static/assets/helpers/icon.svg" %}</span>
      <span class="sidebar-title">{{ site.name }}</span>
    </a>
    <div class="sidebar-content">
      <div class="sidebar-nav-list esl-scrollable-content">
        <li class="sidebar-nav-item">
          {{navitem ('installation')}}</li>
        {% for item in tagsList.tags %}
        <li class="sidebar-nav-item">
          {{ navitem (item) }}
        </li>
        {% endfor %}
      </div>
      <esl-scrollbar class="sidebar-scrollbar" target="::prev"></esl-scrollbar>
    </div>
    <esl-trigger class="sidebar-trigger-btn sidebar-arrows-icon" target="#sidebar" data-store></esl-trigger>
  </nav>
</esl-d-sidebar>
<script>
</script>
