<eak-sidebar id="sidebar" class="open" aria-label="Site Navigation">
  <nav class="sidebar-nav">
    <div class="sidebar-content">
      <ul class="sidebar-nav-list esl-scrollable-content">
        <li class="sidebar-nav-secondary-item">
          <a class="sidebar-nav-secondary-link" href="{{ landing.urls.installationUrl | url }}">Manuals</a>
        </li>
        <li class="sidebar-nav-secondary-item">
          <a class="sidebar-nav-secondary-link" href="{{ landing.urls.docsUrl }}" target="_blank">API Docs</a>
        </li>
        <li class="sidebar-nav-secondary-item">
          <a class="sidebar-nav-secondary-link" href="{{ landing.urls.articleExadelUrl }}" target="_blank">Blog</a>
        </li>
        <li class="sidebar-nav-secondary-item">
          <a class="sidebar-nav-secondary-link" href="{{ site.github.url }}" target="_blank">GitHub</a>
        </li>
      </ul>
      <esl-scrollbar class="sidebar-scrollbar" target="::prev"></esl-scrollbar>
    </div>
  </nav>
</eak-sidebar>
