{% from 'navigation/sidebar-item.njk' import navitem with context %}

<esl-d-sidebar id="sidebar" class="open" aria-label="Site Navigation">
  <nav class="sidebar-nav">
    <a class="sidebar-heading" href="{{ '/' | url }}">
      <span class="sidebar-logo fill-light">{% include "static/assets/helpers/icon.svg" %}</span>
      <span class="sidebar-title">{{ site.name }}</span>
    </a>
    <div class="sidebar-content">
      <div class="sidebar-nav-list esl-scrollable-content">
        <li class="sidebar-nav-item">
          {{navitem ('Installation','installation')}}</li>
          <li class="sidebar-nav-item">
          {{ navitem ('Components', 'components') }}
          </li>
      </div>
      <esl-scrollbar class="sidebar-scrollbar" target="::prev"></esl-scrollbar>
    </div>
    <esl-trigger class="sidebar-trigger-btn sidebar-arrows-icon" target="#sidebar" data-store></esl-trigger>
  </nav>
</esl-d-sidebar>
<script>
  {# if (localStorage.getItem('sidebar-collapsed')) {
    var sidebar = document.querySelector('#sidebar');
    sidebar.classList.remove('open');
    sidebar.querySelector('.sidebar-trigger-btn').removeAttribute('active');
    Array.from(sidebar.querySelectorAll('.sidebar-nav-secondary'))
      .forEach(function(menu) {
        menu.classList.remove('open');
      });
  } #}
</script>
