{% from 'landing/article-item.njk' import article %}
{% set articles = landing.articles | feed %}
<div class="container article">
  <div class="article-title">
    <h3 class="article-heading">{{ landing.articles.title }}</h3>
    <p class="article-description">{{ landing.articles.description }}</p>
  </div>
  <div class="article-content">
    {% for articleItem in articles | limit(5) %}
      <div class="article-item article-{{ loop.index }}">
        {{ article(articleItem, true if loop.index === 1 else false) }}
      </div>
    {% endfor %}
  </div>
  <div class="article-btn">
    <a href="{{ landing.articles.cta }}" target="_blank" class="btn btn-secondary">{{ landing.articles.ctaText }}</a>
  </div>
</div>
