{% macro article(article,isFirst) %}
  <div class="article-item">
    <a class="article-link" href="{{ article.link }}" target="_blank">
      <h5 class="article-item-title mb-2">{{ article.title }}</h5>
      {% if isFirst %}
        <esl-image class="article-item-img img-container" data-src="{{ article.img }}" lazy alt="{{ article.title }}" mode="fit"></esl-image>
      {% endif %}
      <span class="article-item-date">{{ article.date }}</span>
      <ul class="article-item-taglist mb-1">
        {% for tag in article.tags %}
          <li class="article-item-taglist-tag">#{{ tag }}</li>
        {% endfor %}
      </ul>
      <p class="article-item-content fs-1 mb-1">{{ article.content }}</p>
    </a>
  </div>
{% endmacro %}
