<div class="article-container container d-flex mb-150">
  <div class="article-title">
    <h3 class="m-2">{{ landing.articleSection.title }}</h3>
    <p class="fw-300 m-2">{{ landing.articleSection.description | safe }}</p>
  </div>
  <ul class="article-list">
    {% for article in landing.articleSection.articles %}
      <li class="article-item">
        <a class="article-link text-white" href="{{ article.linkUrl }}" target="_blank">
          <h5 class="fs-1 article-item-title mb-2">{{ article.title }}</h5>
          <div class="d-flex article-item-img-container mb-1">
            <img class="article-item-img" src="{{ article.imgUrl }}"/>
          </div>
          <ul class="article-item-taglist mb-1">
            {% for tag in article.tags %}
              <li class="article-item-taglist-tag">#{{ tag }}</li>
            {% endfor %}
          </ul>
          <p class="article-content fw-300 fs-1 mb-1">{{ article.content }}</p>
          <span class="article-item-date">{{ article.date }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
  <div class="z-index d-flex article-center">
    <a href="{{ landing.urls.articleExadelUrl }}" class="btn btn-mint m-0" target="_blank">Learn more</a>
  </div>
</div>
