<div class="banner mb-50">
  <div class="banner-container container">
    <div class="banner-content">
      <h2>{{ landing.marquee.title }}</h2>
      <div class="banner-content-section">
        <p class="banner-content-text mb-4 fw-300">{{ landing.marquee.description }}</p>
        <div class="banner-btns-container">
          <a href="{{ landing.urls.installationUrl | url }}" class="btn btn-blue">Get started</a>
          <a href="{{ site.github.url }}" class="btn btn-blue btn-sec" target="_blank">Check it out</a>
        </div>
      </div>
    </div>
  </div>
  <div class="banner-waves">
    {% include "static/assets/landing/banner-waves.svg" %}
  </div>
</div>
