{% macro banner(title,description) %}
  <div class="banner-container container">
    <div class="banner-content">
      <h2 class="banner-title">{{ title }}</h2>
      <div class="banner-content-section">
        <p class="banner-content-text mb-4">{{ description }}</p>
        <div class="banner-btns-container">
          {{ caller() }}
        </div>
      </div>
    </div>
  </div>
{% endmacro %}
