{% macro banner(title,description,buttons) %}
  <div class="banner-container container">
    <div class="banner-content">
      <h2 class="banner-title">{{ title }}</h2>
      <div class="banner-content-section">
        <p class="banner-content-text mb-4">{{ description }}</p>
        {% if buttons %}
          <div class="banner-btns-container">
            <a href="{{ buttons[0].link | url }}" class="btn btn-primary">{{ buttons[0].text }}</a>
            <a href="{{ buttons[1].link }}" class="btn btn-secondary" target="_blank">{{ buttons[1].text }}</a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endmacro %}
