<div class="benefits-container container d-flex mb-150">
    {% for benefit in landing.benefits %}
        <div class="benefits-item">
        {% include 'static/assets/landing/benefits/' + benefit.imgUrl %}
        <h5 class="benefits-title">{{benefit.title}}</h5>
        <p class="fw-300 fs-1">{{benefit.content}}</p>
        </div>
    {% endfor %}
</div>
