<div class="benefits">
  <div class="benefits-container container">
    {% for benefit in landing.benefits %}
      <div class="benefits-item">
        {% include 'static/assets/landing/benefits/' + benefit.imgUrl %}
        <h5 class="benefits-title">{{benefit.title}}</h5>
        <p class="benefits-description">{{benefit.content}}</p>
      </div>
    {% endfor %}
  </div>
</div>
