<div class="bv-container">
  <ul class="bv-list container">
    {% for value in landing.businessValue %}
      <li class="bv-block">
        <div role="presentation">
          {% include "../../../static/assets/helpers/light-slash.svg" %}
        </div>
        <div class="bv-item mx-auto my-auto">
          <strong class="bv-item-title mb-1">{{ value.title }}</strong>
          <p class="bv-item-description fw-400">{{ value.content }}</p>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
