<div class="job-container container mb-150">
  <div class="d-flex job-block">
    <h2>{{ landing.promo.title }}</h2>
    <p>{{ landing.promo.description }}</p>
    <div class="job-btns d-flex">
      <a href="{{ landing.urls.installationUrl | url }}" class="btn btn-blue btn-media">Start now</a>
      <a href="{{ landing.urls.docsUrl }}" class="btn btn-mint btn-media" target="_blank">Read the docs</a>
    </div>
  </div>
</div>
<div class="relative-block">
  {% include "static/assets/landing/background-effect2.svg" %}
  {% include "static/assets/landing/background-effect3.svg" %}
</div>
