{% from 'landing/banner.njk' import banner %}
{% set bgFile = 'promo-banner-waves.svg' %}

<div class="banner banner-promo">
  {{ banner(landing.promo.title,landing.promo.description,landing.promo.buttons,bgFile) }}
</div>
