{% from 'landing/banner.njk' import banner %}

<div class="banner banner-promo">
  {% call banner(landing.promo.title,landing.promo.description) %}
  <a href="{{ landing.urls.installationUrl | url }}" class="btn btn-primary">Start now</a>
  <a href="{{ landing.urls.docsUrl }}" class="btn btn-secondary" target="_blank">Read the docs</a>
  {% endcall %}
  <div class="banner-waves">
    {% include "static/assets/landing/promo-banner-waves.svg" %}
  </div>
</div>
