{% from 'landing/banner.njk' import banner %}
{% set bgFile = 'banner-waves.svg' %}

<eak-banner class="banner mb-50">
  {{ banner(landing.marquee.title,landing.marquee.description,landing.marquee.buttons,bgFile) }}
</eak-banner>
