{% from 'landing/banner.njk' import banner %}
{% set bgFile = 'banner-waves.svg' %}

<eak-banner class="banner">
  {{ banner(landing.marquee.title, landing.marquee.description, landing.marquee.buttons, bgFile, true) }}
</eak-banner>
