{% from 'landing/banner.njk' import banner %}

<div class="banner mb-50">
  {% call banner(landing.marquee.title,landing.marquee.description) %}
    <a href="{{ landing.urls.installationUrl | url }}" class="btn btn-primary">Get started</a>
    <a href="{{ site.github.url }}" class="btn btn-secondary" target="_blank">Check it out</a>
  {% endcall %}
  <div class="banner-waves">
    {% include "static/assets/landing/banner-waves.svg" %}
  </div>
</div>
