---
layout: content
title: 404
containerCls: page-404
permalink: 404.html
eleventyExcludeFromCollections: true
---

<div class="m-auto">
  <h1>😯 404 😯</h1>
  <p class="h2 text-warning">Page not found</p>
</div>
