---
layout: landing
description: Exadel Authoring Kit for AEM.
---

{% include "landing/top-banner.njk" %}

{% include "landing/features.njk" %}
{% include "landing/benefits.njk" %}

{% include "landing/business-value.njk" %}
{% include "landing/article-section.njk" %}

{% include "landing/promo-banner.njk" %}
