---
layout: landing
description: Exadel Authoring Kit for AEM.
---

{% include "landing/banner.njk" %}
{% include "landing/features.njk" %}
{% include "landing/benefits.njk" %}
{% include "landing/business-value.njk" %}
{% include "landing/article-section.njk" %}
{% include "landing/job-is-done.njk" %}
