---
permalink: "/sitemap.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for page in collections.all | releasedStrict %}
  <url>
    <loc>{{page.url | canonical | url }}</loc>
    <lastmod>{{ page.date.toISOString() }}</lastmod>
    {%- if page.url == "/" %}
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
    {%- endif %}
  </url>

  {%- endfor %}
</urlset>
