---
layout: content
title: EAK Component structure
seoTitle: EAK Component structure
name: Component structure
val: component-structure
tags: components
---

{% mdRender '../md/component-structure.md'  %}