---
layout: content
title: EAK Additional properties
seoTitle: EAK Additional properties
name: Component structure
val: component-structure
tags: components
---

{% mdRender '../md/component-structure.md' %}
