---
layout: content
title: EAK Additional properties
seoTitle: EAK Additional properties
name: Structuring data with EToolbox Lists
val: e-toolbox-lists
tags: components
---

{% mdRender '../md/e-toolbox-lists.md'%}
