---
layout: content
title: EAK Additional properties
seoTitle: EAK Additional properties
name: Enhancing widgets with OptionProvider
val: option-provider
tags: components
---

{% mdRender '../md/option-provider.md' %}
