---
layout: content
title: EAK Additional properties
seoTitle: EAK Additional properties
name: Widget annotations
val: widget-annotations
tags: components
---

{% mdRender '../md/widget-annotations.md' %}
