@import (reference) "../../common/variables.less";

.footer {
  @footer-primary: @primary-blue;
  @footer-gradient: linear-gradient(to right, #131A2E, @footer-primary,@footer-primary, #ffffff, #131A2E) 47% 0%;
  display: block;
  @media @md-xl {
    display: flex;
    flex-direction: column;
  }

  &-margin {
      margin-top: 50px;
      @media @xs{
            margin-top: 400px;
        }
      @media @sm{
      margin-top: 240px;
      }
  }

  &-hr {
    width: 100%;
    border: none;
    height: 2px;
    margin: 0;
    background: @footer-gradient;

    @media @md-xl {
      &-open {
        display: none;
      }
    }
  }

  &-title {
    display: none;
    color: @primary-blue;
    font-weight: 500;
    font-size: 1rem;
    margin-left: 25px;

    @media @md-xl {
      display: block;
    }
  }

  &-link {
    display: inline-block;
    color: white;
    padding: 10px;
    outline-offset: -2px;
    font-size: 1.125rem;

    &:hover {
      text-decoration: none;
      color: @secondary-blue;
    }

    @media @md-xl {
      font-size: 0.875rem;
    }
  }

  &-list {
    margin-top: 10px;
    @media @md-xl {
      margin-top: 0;
    }
  }

  &-column {
    text-align: center;
    list-style-type: none;
    color: white;
    border-top: 2px solid;
    padding: 16px 0;
    border-image: @footer-gradient;

    @media @md-xl {
      text-align: start;
      flex: 1 0 0px;
      border: none;
    }
  }

  &-column-2 {
    @media @md-xl {
      flex: 2 0 0px;
      .footer-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 230px;
        list-style-type: none;
      }
    }
  }

  &-accordion-trigger {
    display: block;
    position: relative;
    color: white;
    font-size: 1.25rem;

    &[active] {
      color: @primary-blue;
      .arrow {
        transform: rotate(180deg);
        &::after {
          border-color: @footer-primary;
        }
      }
    }

    @media @md-xl {
      display: none;
    }
  }

  &-accordion-trigger .arrow {
    position: absolute;
    top: 11px;
    right: 30px;
    width: 10px;
    height: 10px;

    transform-origin: center center;
    transition: transform .5s ease-in-out;

    &::after {
      content: '';
      display: block;
      width: 7px;
      height: 7px;

      border-left: 2px solid white;
      border-top: 2px solid white;

      transform: rotate(225deg);
      transform-origin: center center;
    }
  }

  &-accordion-container {
    margin: 0;
    @media @md-xl {
      display: flex;
      margin: 0 -15px;
    }
  }

  &-accordion-content {
    margin: 0 15px;
    z-index: 99;
    transition: max-height .3s ease-in-out,
    visibility 0s linear .3s;

    &.open {
      transition: max-height .3s ease-in-out, visibility 0s linear;
    }

    &.animate.open {
      z-index: 100;
    }
  }

  &-common-links-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px 10px;

    @media @md-xl {
      padding: 10px 0;
      margin-bottom: 40px;
    }
  }

  &-common-links {
    font-size: 0.9rem;
  }
  &-common-links &-link {
    padding: 0 10px;
    font-size: inherit;
    > svg {
      width: 25px;
      height: 25px;
    }
  }

  &-copyright {
    padding: 0 10px;
  }
  &-copyright &-link {
    font-size: inherit;
    padding: 0;
    outline-offset: 0;
  }
}
