@import (reference) "../../common/variables.less";

.article {

  &-title {
    text-align: left;
    margin-bottom: 30px;

    @media @xs-sm {
      width: 100%;
    }
  }

  &-description{
    width: 50%;
    margin-top: 24px;

    @media @xs-md {
      width: auto;
    }
  }

  &-heading{
    color: @landing-blue;
  }

  &-content {
    display: grid; 
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 300px 300px; 
    grid-template-areas: 
    "first first first second second"
    "first first first third third"; 
    margin-bottom: 150px;

    @media @xs-sm {
      display: block;
    }
    @media @xs-sm {
      margin: 10px 0 15px;
    }
  }

  &-link {
    display: block;
    text-decoration: none;
    color: inherit;

    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }

  &-item{
    padding: 5px;

    @media @xs-sm {
      padding: 0;
    }

    &-title {
      font-weight: 500;
      font-size: 20px;
    }

    &-taglist {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      margin: 10px 0px;  

      &-tag {
        flex: 0 0 auto;
        padding: 0 5px 0 0;
        color: @landing-sec-blue;
        font-size: 0.875rem;
        font-weight: 500;
      }
    }

    &-date {
      font-size: 0.875rem;
      opacity: 0.6;
      height: 1.5rem;
      color: inherit;
      margin: 20px 0px;
      text-align: start;
    }

    .inner-image {
      min-width: 150px;
      height: 380px;
      margin-bottom: 10px;
    }

    &-img {
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    &-content {
      @media @md-lg {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
    }
  }

  &-first {
    grid-area: first;
    padding-right: 50px;
  }

  &-second {
    grid-area: second;
  }

  &-third {
    grid-area: third;
  }

  &-center {
    width: 100%;
    justify-content: center;
  }
}
