@import (reference) "../../common/variables.less";

.article {
  &-container {
    flex-direction: column;
    align-items: center;
    @media @xs-sm {
      margin: 10px 0 300px;
      padding: 5px;
    }
  }

  &-title {
    margin: 0 2rem;
    text-align: center;
    @media @xs-sm {
      width: 100%;
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 7%;
    justify-content: center;
    list-style: none;

    margin-bottom: 20px;
    width: 90%;

    @media @xs {
      padding: 0;
    }
    @media @xs-sm {
      padding: 5px;
    }
    @media @sm-md {
      width: 100%;
    }
  }

  &-link {
    display: block;
    text-decoration: none;
    color: inherit;

    &:hover {
      color: inherit;
      text-decoration: none;
    }

    @media @xs-sm {
      flex: 1 1 40%;
      height: fit-content;
    }
  }

  &-item {
    list-style: none;
    flex: 1 1 0;
    max-width: 350px;

    padding: 5px;
    align-items: center;
    text-align: start;

    @media @xs-sm {
      flex: 1 1 100%;
    }
    @media @xs {
      max-width: 90%;
      padding: 5px 0;
    }

    &-title {
      height: 3.6rem;
      color: @landing-blue;
      overflow: hidden;
      text-overflow: ellipsis;

      @media @xs-sm {
        height: 2.4rem;
      }
      @media @xs {
        height: auto;
      }
    }

    &-img {
      min-width: 150px;
      width: 100%;

      &-container {
        width: 100%;
        justify-content: center
      }
    }

    &-taglist {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;

      &-tag {
        flex: 0 0 auto;
        padding: 0 5px 0 0;

        font-size: 0.875rem;
      }
    }

    &-date {
      font-size: 0.875rem;
      opacity: 0.6;
      color: inherit;
    }
  }

  &-center {
    width: 100%;
    justify-content: center;
  }
}
