<script>
  (function () {
    if (!window.scrollBy || !window.ResizeObserver) {
      document.write('<script type="text/javascript" src="{{ '/bundles/polyfill-light.js' | url }}"><\/script>');
    }
  })();
</script>
