<script>
  (function () {
    var version = '';
    if (!('getRootNode' in Element.prototype) || !window.customElements){
      version = 'medium';
    } else if (!window.scrollBy || !window.IntersectionObserver || !window.ResizeObserver || !window.ResizeObserver) {
      version = 'light';
    }
    (version) && document.write('<script type="text/javascript" src="{{ '/bundles/polyfill-' | url }}' + version + '.js"><\/script>');
  })();
</script>
