@import (reference) "../common/variables.less";

.md-image {
  max-width: 1200px;

  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  cursor: zoom-in;

  &[in-zoom] {
    border: 1px solid black;
    cursor: move;

    esl-image {
      position: absolute;
      z-index: 2;
      transform-origin: top left;
      touch-action: none;
    }

  }

  esl-image .inner-image {
    width: 100%;
  }
}

.close-button{
  padding: 0px 5px 0px 5px;
  border:2px solid gray;
  position: absolute;
  z-index:3;
  top:10px;
  right: 10px;
  background-color: @primary-blue;
  color: white;
  border-radius: 8px;

  @media @xs {
    padding: 0px 2px 0px 2px;
    top:2px;
    right:2px;
  }
}
