.shopping-list-component {
    width: 100%;
    height: 100%;
}

.shopping-list-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    flex: 1;
    overflow-y: auto;
    height: 100%;
    min-width: 100px;
}

.shopping-list-title {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.shopping-list-text {
    min-height: 50px;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid darkgray;
    overflow-y: auto;
}