*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
*:focus-visible {
  outline: 2px dashed #1fc2ff;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}
footer,
header,
main,
nav {
  display: block;
}
[tabindex='-1']:focus:not(:focus-visible) {
  outline: 0 !important;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
section {
  margin-bottom: 20px;
}
pre,
code {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  font-size: 1em;
}
code {
  font-size: 87.5%;
  color: #a31515;
  word-wrap: break-word;
}
pre {
  display: block;
  font-size: 87.5%;
  color: #212529;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}
pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}
img {
  vertical-align: middle;
  border-style: none;
}
svg {
  overflow: hidden;
  vertical-align: middle;
}
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  overflow: visible;
  -webkit-appearance: button;
}
button:not(:disabled) {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
button,
button:active,
button:focus {
  border: none;
  outline: none;
  background-color: transparent;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  color: #333638;
  background: #f2f6f7;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
h1,
.h1 {
  font-size: 2.5rem;
}
@media (min-width: 600px) and (max-width: 999999px) {
  h1,
  .h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
}
h2,
.h2 {
  font-size: 2rem;
}
h3,
.h3 {
  font-size: 1.5rem;
}
h4,
.h4 {
  font-size: 1.25rem;
}
h5,
.h5 {
  font-size: 1.1rem;
}
b,
strong {
  font-weight: bolder;
}
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
ol ol,
ul ol,
ol ul,
ul ul {
  margin-bottom: 0;
}
a {
  color: #0082ca;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #0082ca;
  text-decoration: underline;
  text-decoration-color: #0082ca;
}
a:not([href]),
a:not([href]):hover {
  color: inherit;
  text-decoration: none;
}
.landing-layout {
  font-size: 1.25rem;
}
.landing-layout h1 {
  font-size: 4.5rem;
}
@media (min-width: 600px) and (max-width: 999999px) {
  .landing-layout h1 {
    font-size: 4rem;
  }
}
.landing-layout h2,
.landing-layout .h2 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}
.landing-layout h3,
.landing-layout .h3 {
  font-size: 2.5rem;
}
.landing-layout h5 {
  font-size: 1.25rem;
}
/* Colors */
.fill-primary svg {
  fill: #0082ca;
}
.fill-primary:hover svg {
  fill: #339bd5;
}
.markdown-container h1,
.markdown-container h2,
.markdown-container h3,
.markdown-container h4,
.markdown-container h5,
.markdown-container h6 {
  color: #004368;
  margin-bottom: 20px;
}
.markdown-container h1:not(:first-child),
.markdown-container h2:not(:first-child),
.markdown-container h3:not(:first-child),
.markdown-container h4:not(:first-child),
.markdown-container h5:not(:first-child),
.markdown-container h6:not(:first-child) {
  margin-top: 25px;
}
.markdown-container ul,
.markdown-container ol {
  padding-left: 1.5rem;
}
.markdown-container ul p,
.markdown-container ol p {
  margin-bottom: 0.5rem;
}
.markdown-container ul p:last-child,
.markdown-container ol p:last-child {
  margin-bottom: 0;
}
.markdown-container pre {
  background-color: #fff;
  border-radius: 4px;
  padding: 25px 20px;
}
.btn {
  margin-top: 10px;
  padding: 10px 20px;
  display: block;
  border: 1px solid #0082ca;
  border-radius: 8px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  z-index: 4;
}
.btn:hover {
  text-decoration: none;
}
.btn-primary {
  color: #fff;
  background-color: #0082ca;
}
.btn-primary:hover {
  color: #fff;
  background-color: #339bd5;
  border-color: #339bd5;
}
.btn-secondary {
  color: #0082ca;
  background-color: rgba(255, 255, 255, 0.75);
}
.btn-secondary:hover {
  color: #339bd5;
  border-color: #339bd5;
}
.container,
.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}
@media (min-width: 600px) and (max-width: 991px) {
  .container,
  .container-fluid {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container,
  .container-fluid {
    padding-right: 45px;
    padding-left: 45px;
  }
}
@media (min-width: 1200px) and (max-width: 999999px) {
  .container,
  .container-fluid {
    padding-right: 60px;
    padding-left: 60px;
  }
}
@media (min-width: 1600px) and (max-width: 999999px) {
  .container {
    max-width: 1600px;
  }
}
.mb-1 {
  margin-bottom: 0.5rem !important;
}
.mb-2 {
  margin-bottom: 1rem !important;
}
.mb-4 {
  margin-bottom: 2rem !important;
}
.unstyled-list {
  list-style-type: none;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.esl-scrollbar .scrollbar-track {
  background: rgba(101, 189, 234, 0.3);
}
.esl-scrollbar .scrollbar-thumb {
  background: rgba(0, 130, 202, 0.3);
}
.esl-scrollbar[dragging] .scrollbar-thumb {
  background: rgba(0, 130, 202, 0.5);
  box-shadow: inset 0 0 4px 0 #65bdea;
}
.esl-scrollbar:not([horizontal]) .scrollbar-track::before,
.esl-scrollbar:not([horizontal]) .scrollbar-track::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 10' xml:space='preserve'%3E%3Cpolyline points='0,0 8,8 16,0' fill='none' stroke='%230082ca' stroke-width='5'/%3E%3C/svg%3E");
}
.esl-scrollbar[horizontal] .scrollbar-track::before,
.esl-scrollbar[horizontal] .scrollbar-track::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 16' xml:space='preserve'%3E%3Cpolyline points='0,16 8,8 0,0' fill='none' stroke='%230082ca' stroke-width='5'/%3E%3C/svg%3E");
}
.eak-zoom-image {
  max-width: 1200px;
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  cursor: zoom-in;
  box-sizing: content-box;
}
.eak-zoom-image esl-image {
  will-change: transform;
  touch-action: none;
}
.eak-zoom-image esl-image .inner-image {
  width: 100%;
}
.eak-zoom-image[in-zoom] {
  border: 1px solid #65bdea;
  cursor: move;
}
.eak-zoom-image .close-button {
  display: none;
  position: absolute;
  z-index: 3;
  top: 5px;
  right: 5px;
  height: 24px;
  width: 24px;
  background-size: 16px 16px;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='%23ffffff' d='M376.6 427.5c11.31 13.58 9.484 33.75-4.094 45.06c-5.984 4.984-13.25 7.422-20.47 7.422c-9.172 0-18.27-3.922-24.59-11.52L192 305.1l-135.4 162.5c-6.328 7.594-15.42 11.52-24.59 11.52c-7.219 0-14.48-2.438-20.47-7.422c-13.58-11.31-15.41-31.48-4.094-45.06l142.9-171.5L7.422 84.5C-3.891 70.92-2.063 50.75 11.52 39.44c13.56-11.34 33.73-9.516 45.06 4.094L192 206l135.4-162.5c11.3-13.58 31.48-15.42 45.06-4.094c13.58 11.31 15.41 31.48 4.094 45.06l-142.9 171.5L376.6 427.5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  border-radius: 50%;
  background-color: #0082ca;
}
.eak-zoom-image[in-zoom] .close-button {
  display: block;
}
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  width: 100%;
  /* stylelint-disable */
  height: 100vh;
  height: 100dvh;
  /* stylelint-enable */
}
.page {
  width: 100%;
  height: 100%;
}
header {
  flex: 0 0 auto;
}
main {
  position: relative;
  flex: 1 1 auto;
  overflow-x: hidden !important;
}
.content {
  padding-top: 2rem;
}
.main-scrollbar {
  z-index: 100;
}
.page-404 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.header-shadow {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 56px;
  pointer-events: none;
  box-shadow: none;
  transition: box-shadow 0.3s ease-in-out;
}
.esl-scrollbar:not([at-start]) + .header-shadow {
  box-shadow: 0 1px 8px 0 rgba(0, 66, 94, 0.5);
}
@media (min-width: 992px) and (max-width: 999999px) {
  .header-shadow {
    height: 84px;
  }
}
.sidebar-layout {
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) and (max-width: 999999px) {
  .sidebar-layout {
    flex-direction: row;
  }
  .sidebar-layout header {
    display: none;
  }
  .sidebar-layout .header-shadow {
    height: 0;
  }
}
.sidebar-layout .page-title {
  padding: 1rem 0;
}
.sidebar-layout .content-page-title {
  color: #004368;
  font-size: 1rem;
}
.sidebar-layout .content-page-title > .current-page {
  font-size: 3rem;
  margin-top: 10px;
}
.sidebar-layout .content-page-title > .parent-page {
  opacity: 0.6;
}
.sidebar-layout main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sidebar-layout main > .sb-nav-item-container {
  padding-top: 30px;
}
.sidebar-layout main > footer {
  margin-top: auto;
}
.sidebar-layout .main-scroll {
  position: absolute;
  z-index: 5;
  bottom: 0;
  top: 56px;
}
@media (min-width: 992px) and (max-width: 999999px) {
  .sidebar-layout .main-scroll {
    top: 0;
  }
}
.landing-layout {
  display: flex;
  flex-direction: column;
  color: #000;
  background-color: #fff;
}
.landing-layout main {
  height: 100%;
}
.landing-layout .main-scroll {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 5;
  top: 56px;
}
@media (min-width: 992px) and (max-width: 999999px) {
  .landing-layout .main-scroll {
    top: 84px;
  }
}
@media (min-width: 1px) and (max-width: 599px) {
  .landing-layout .main-scroll {
    display: none;
  }
}
#popular-articles-list {
  padding: 0;
}
.popular-articles-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(1, 100%);
  grid-gap: 50px;
}
@media (min-width: 1200px) and (max-width: 999999px) {
  .popular-articles-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
.popular-articles-item {
  list-style: none;
}
.popular-articles-content {
  margin-bottom: 5px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}
.header {
  z-index: 11;
  color: #000;
  background-color: #fff;
  height: 56px;
}
@media (min-width: 992px) and (max-width: 999999px) {
  .header {
    height: 84px;
  }
  .landing-layout .header {
    background-color: transparent;
  }
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.header-links {
  display: none;
  flex: 1 0 auto;
  justify-content: end;
  align-items: flex-end;
  margin: 0;
}
@media (min-width: 992px) and (max-width: 999999px) {
  .header-links {
    display: flex;
  }
}
.header-link {
  color: inherit;
  text-decoration: none;
  padding: 10px;
}
.header-link:hover {
  color: #0082ca;
  text-decoration: none;
}
.header-item {
  font-size: 1rem;
  margin: 0 5px;
}
@media (min-width: 1200px) and (max-width: 999999px) {
  .header-item {
    margin: 0 10px;
  }
}
.header-item svg {
  width: 24px;
  height: 24px;
}
.header-utility {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1 0 auto;
  margin-left: auto;
  justify-self: flex-end;
}
@media (min-width: 992px) and (max-width: 999999px) {
  .header-utility {
    display: none;
  }
}
.header-logo {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 992px) and (max-width: 999999px) {
  .header-logo {
    font-size: 1.2rem;
  }
}
.header-logo svg {
  display: inline-block;
  margin: 0 1rem 0 2px;
  width: 48px;
  height: 48px;
}
@media (min-width: 992px) and (max-width: 999999px) {
  .header-logo svg {
    width: 66px;
    height: 66px;
  }
}
.header-btn {
  display: none;
}
@media (min-width: 992px) and (max-width: 999999px) {
  .header-btn {
    display: block;
    width: 150px;
  }
}
.header-btn .header-btn-link {
  height: 50px;
  margin: 0 0 0 1rem;
}
.header-hamburger {
  display: block;
  position: relative;
  width: 30px;
  height: 22px;
  margin: 0 2px;
  border-top: 2px solid #004368;
  border-bottom: 2px solid #004368;
  transition: border 0.5s ease-in-out;
}
@media (min-width: 992px) and (max-width: 999999px) {
  .header-hamburger {
    display: none;
  }
}
.header-hamburger::before,
.header-hamburger::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  border-top: 2px solid #004368;
  transform: translate(-50%, -50%);
  transition: transform 0.5s ease-in-out;
}
.header-hamburger[active] {
  border-color: transparent;
}
.header-hamburger[active]::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.header-hamburger[active]::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.header-short-name {
  display: inline-block;
}
@media (min-width: 600px) and (max-width: 999999px) {
  .header-short-name {
    display: none;
  }
}
.header-long-name {
  display: none;
}
@media (min-width: 600px) and (max-width: 999999px) {
  .header-long-name {
    display: inline-block;
  }
}
.header-short-name,
.header-long-name {
  font-size: 1.125rem;
  font-weight: 500;
}
eak-sidebar {
  display: block;
  background: #fff;
  position: fixed;
  top: 56px;
  z-index: 10;
  box-shadow: 0 5px 8px 0 rgba(0, 66, 94, 0.5);
  /* stylelint-disable */
  height: calc(100vh - 56px);
  height: calc(100dvh - 56px);
  /* stylelint-enable */
  max-width: 0;
}
eak-sidebar[animation] {
  transition: max-width 0.5s ease-in-out, visibility 0.5s linear;
}
eak-sidebar[animation].open {
  transition: max-width 0.5s ease-in-out, visibility 0s linear;
}
eak-sidebar,
eak-sidebar .sidebar-content {
  width: 100vw;
}
@media (min-width: 600px) and (max-width: 991px) {
  eak-sidebar,
  eak-sidebar .sidebar-content {
    width: 20rem;
  }
}
@media (min-width: 992px) and (max-width: 999999px) {
  eak-sidebar,
  eak-sidebar .sidebar-content {
    width: 17.875rem;
  }
}
@media (min-width: 1px) and (max-width: 991px) {
  eak-sidebar {
    visibility: hidden;
  }
  eak-sidebar:not(.eak-sidebar) {
    display: none;
  }
  eak-sidebar.open {
    visibility: visible;
  }
}
@media (min-width: 992px) and (max-width: 999999px) {
  eak-sidebar {
    position: relative;
    top: 0;
    box-shadow: none;
    /* stylelint-disable */
    height: 100vh;
    height: 100dvh;
    /* stylelint-enable */
    max-width: 72px;
  }
  .landing-layout eak-sidebar {
    display: none;
  }
}
eak-sidebar.open {
  max-width: 100vw;
}
@media (min-width: 992px) and (max-width: 999999px) {
  eak-sidebar.open {
    max-width: 17.875rem;
  }
}
eak-sidebar .sidebar-nav {
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #333638;
  display: flex;
  flex-direction: column;
  padding: 33px 0 20px 0;
}
eak-sidebar .sidebar-scrollbar.sidebar-scrollbar {
  right: 15px;
}
eak-sidebar .sidebar-heading {
  display: none;
  min-width: auto;
  margin: 0 40px 40px 25px;
  text-decoration: none;
}
@media (min-width: 992px) and (max-width: 999999px) {
  eak-sidebar .sidebar-heading {
    display: flex;
    align-items: center;
  }
}
eak-sidebar .sidebar-logo {
  flex: 0 0 auto;
  line-height: 3;
}
eak-sidebar .sidebar-logo svg {
  width: 50px;
  height: 50px;
}
eak-sidebar .sidebar-title {
  display: inline-block;
  width: calc(100% - 77px);
  flex: 1 0 auto;
  padding: 0 65px 0 10px;
  overflow: hidden;
  font-size: 1.05rem;
  font-weight: 500;
  line-height: 15.75px;
  color: #004368;
}
eak-sidebar .sidebar-title-d-none {
  display: none;
  transition: all 1s;
}
eak-sidebar .sidebar-content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}
eak-sidebar .sidebar-content .sidebar-scrollable-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 0px;
}
eak-sidebar .sidebar-content .sidebar-footer-copyright {
  padding: 0 40px 0 25px;
  font-size: 0.75rem;
  line-height: 14px;
}
eak-sidebar .sidebar-content .sidebar-footer-copyright .sidebar-footer-link {
  display: inline-block;
  color: inherit;
  padding: 0 5px;
}
eak-sidebar .sidebar-content .sidebar-footer-copyright .sidebar-footer-link:hover {
  color: #0082ca;
}
@media (min-width: 600px) and (max-width: 991px) {
  eak-sidebar .sidebar-content .sidebar-footer-copyright {
    padding-left: 36px;
  }
}
@media (min-width: 992px) and (max-width: 999999px) {
  eak-sidebar .sidebar-content .sidebar-footer-copyright {
    padding-left: 26px;
  }
}
@media (hover: hover) {
  eak-sidebar .sidebar-scrollbar {
    opacity: 0.4;
    transition: opacity 0.3s linear;
  }
}
eak-sidebar:hover .sidebar-scrollbar {
  opacity: 1;
}
eak-sidebar .sidebar-nav-list {
  flex: 1 1 0;
}
eak-sidebar .sidebar-nav-item {
  display: block;
  overflow: hidden;
  max-width: 100%;
  margin-bottom: 32px;
}
eak-sidebar .sidebar-nav-item > .sidebar-nav-item-heading {
  font-size: 12px;
  opacity: 0.7;
  padding: 0 40px 0 25px;
}
eak-sidebar .sidebar-nav-item-heading {
  position: relative;
  display: flex;
  padding: 6px 40px 6px 25px;
  color: inherit;
}
@media (min-width: 600px) and (max-width: 991px) {
  eak-sidebar .sidebar-nav-item-heading {
    padding-left: 36px;
  }
}
@media (min-width: 992px) and (max-width: 999999px) {
  eak-sidebar .sidebar-nav-item-heading {
    padding-left: 26px;
  }
}
eak-sidebar .sidebar-nav-item-heading.active ::before,
eak-sidebar .sidebar-nav-item-heading.active ~ .sidebar-nav-secondary::before {
  content: '';
  position: absolute;
  top: 0;
  left: 1px;
  height: 100%;
  border-left: 3px solid #004368;
}
eak-sidebar .sidebar-nav-item-trigger {
  flex: 1 0 auto;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}
eak-sidebar .sidebar-nav-item-trigger:hover {
  color: #0082ca;
}
eak-sidebar.open .sidebar-nav-item-trigger {
  opacity: 1;
}
eak-sidebar:not(.open) .sidebar-nav-item-trigger {
  pointer-events: none;
}
eak-sidebar .sidebar-nav-item-arrow::after {
  content: '';
  display: inline-block;
  margin: 2px 10px;
  width: 12px;
  height: 6px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 9' xml:space='preserve'%3E%3Cpolyline points='0,0 8,8 16,0' fill='none' stroke='rgb(51,54,56)' stroke-width='2'%3E%3C/polyline%3E%3C/svg%3E");
  background-repeat: no-repeat;
  transform: rotate(0deg);
  transform-origin: center;
  transition: transform 0.5s ease-in-out;
}
eak-sidebar .sidebar-nav-item-trigger[active].sidebar-nav-item-arrow::after {
  transform: rotate(180deg);
}
eak-sidebar .sidebar-nav-secondary-list {
  padding: 2px 0;
}
eak-sidebar .sidebar-nav-secondary-item {
  display: block;
  position: relative;
  padding: 6px 0 6px 25px;
}
@media (min-width: 600px) and (max-width: 991px) {
  eak-sidebar .sidebar-nav-secondary-item {
    padding-left: 36px;
  }
}
@media (min-width: 992px) and (max-width: 999999px) {
  eak-sidebar .sidebar-nav-secondary-item {
    padding-left: 26px;
  }
}
eak-sidebar .sidebar-nav-secondary-item.active,
eak-sidebar .sidebar-nav-secondary-item .sidebar-nav-item-heading.active {
  font-weight: 700;
  color: #004368;
}
eak-sidebar .sidebar-nav-secondary-item .sidebar-nav-item-heading.active + .sidebar-nav-secondary {
  color: #004368;
}
eak-sidebar .sidebar-nav-secondary-item.active::before {
  content: '';
  position: absolute;
  top: 0;
  left: 1px;
  height: 100%;
  border-left: 3px solid #004368;
}
eak-sidebar .sidebar-nav-secondary-item:not(.sidebar-secondary-nav-item-children) {
  padding-right: 40px;
}
eak-sidebar .sidebar-nav-secondary-item.sidebar-secondary-nav-item-children {
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}
eak-sidebar .sidebar-nav-secondary-item.sidebar-secondary-nav-item-children .sidebar-nav-secondary .sidebar-nav-secondary-list .sidebar-nav-item-trigger {
  padding-left: 13px;
}
@media (min-width: 600px) and (max-width: 1199px) {
  eak-sidebar .sidebar-nav-secondary-item.sidebar-secondary-nav-item-children .sidebar-nav-secondary .sidebar-nav-secondary-list .sidebar-nav-item-trigger {
    padding-left: 15px;
  }
}
eak-sidebar .sidebar-nav-secondary-item.sidebar-secondary-nav-item-children .sidebar-nav-secondary-item:not(.sidebar-secondary-nav-item-children) {
  padding-left: 38px;
}
@media (min-width: 600px) and (max-width: 1199px) {
  eak-sidebar .sidebar-nav-secondary-item.sidebar-secondary-nav-item-children .sidebar-nav-secondary-item:not(.sidebar-secondary-nav-item-children) {
    padding-left: 51px;
  }
}
@media (min-width: 992px) and (max-width: 999999px) {
  eak-sidebar .sidebar-nav-secondary-item.sidebar-secondary-nav-item-children .sidebar-nav-secondary-item:not(.sidebar-secondary-nav-item-children) {
    padding-left: 39px;
  }
}
eak-sidebar .sidebar-nav-secondary-item.sidebar-secondary-nav-item-children .sidebar-nav-secondary-item.sidebar-secondary-nav-item-children .sidebar-nav-secondary-item:not(.sidebar-secondary-nav-item-children) {
  padding-left: 51px;
}
@media (min-width: 600px) and (max-width: 1199px) {
  eak-sidebar .sidebar-nav-secondary-item.sidebar-secondary-nav-item-children .sidebar-nav-secondary-item.sidebar-secondary-nav-item-children .sidebar-nav-secondary-item:not(.sidebar-secondary-nav-item-children) {
    padding-left: 64px;
  }
}
@media (min-width: 992px) and (max-width: 999999px) {
  eak-sidebar .sidebar-nav-secondary-item.sidebar-secondary-nav-item-children .sidebar-nav-secondary-item.sidebar-secondary-nav-item-children .sidebar-nav-secondary-item:not(.sidebar-secondary-nav-item-children) {
    padding-left: 52px;
  }
}
eak-sidebar .sidebar-nav-secondary-link {
  display: block;
  text-decoration: none;
  color: inherit;
}
eak-sidebar .sidebar-nav-secondary-link:hover {
  color: #0082ca;
}
.related-card {
  padding: 10px 0 15px;
}
.related-card + .related-card {
  padding-top: 0;
}
.related-card-heading {
  font-size: 1.2rem;
}
.related-card-list {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}
.related-card-item {
  list-style: none;
  margin: 5px 10px 0 0;
}
.related-card-item:last-of-type {
  margin-right: 0;
}
.footer {
  background-color: #eaf4f8;
}
.footer-common-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  font-size: 0.9rem;
}
@media (min-width: 992px) and (max-width: 999999px) {
  .footer-common-links {
    padding: 10px 0 30px;
  }
}
.footer-copyright,
.footer-icon-link {
  padding: 0 10px;
}
.footer-icon-link > svg {
  width: 25px;
  height: 25px;
}
.footer-link {
  display: inline-block;
  color: inherit;
  outline-offset: -2px;
  padding: 0;
}
.footer-compact {
  padding: 15px 0;
}
.footer-compact-link {
  color: inherit;
}
.footer-compact-copyright {
  color: #6c757d;
  text-align: center;
}
.banner {
  display: flex;
  position: relative;
}
.banner-container {
  display: flex;
  min-height: 500px;
  margin-bottom: 50px;
}
@media (min-width: 1200px) and (max-width: 999999px) {
  .banner-container {
    margin-bottom: 100px;
  }
}
.banner-title {
  color: #0082ca;
}
@media (min-width: 1px) and (max-width: 991px) {
  .banner-title {
    text-align: center;
  }
}
.banner-content {
  width: 100%;
  padding: 50px 0;
  z-index: 1;
  text-shadow: 1px 1px 2px #fff, 0 0 1em #fff;
}
@media (min-width: 992px) and (max-width: 999999px) {
  .banner-content {
    width: 75%;
    padding: 100px 0;
  }
}
@media (min-width: 992px) and (max-width: 999999px) {
  .banner-content-section {
    width: 60%;
  }
}
.banner-content-text {
  text-align: center;
}
@media (min-width: 992px) and (max-width: 999999px) {
  .banner-content-text {
    text-align: left;
  }
}
.banner-btns-container {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5rem;
  text-shadow: none;
}
@media (min-width: 1px) and (max-width: 991px) {
  .banner-btns-container {
    justify-content: center;
  }
}
.banner-btns-container .btn {
  margin: 0.5rem;
  box-shadow: 0 0 30px 2px rgba(255, 255, 255, 0.8);
}
.banner-waves {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: calc(100% - 50px);
  pointer-events: none;
}
@media (min-width: 992px) and (max-width: 999999px) {
  .banner-waves {
    top: 50px;
  }
}
.banner-waves > svg {
  display: block;
  width: 100%;
  min-width: 100%;
  height: 150%;
  margin-top: -100px;
}
.banner-waves > svg path {
  transition: all 4s linear;
}
.banner-waves > svg .animate {
  stroke-width: 2;
}
.banner-waves-primary {
  stroke: #0082ca;
}
.banner-waves-secondary {
  stroke: #65bdea;
}
@media (min-width: 1200px) and (max-width: 999999px) {
  .banner-top {
    margin-bottom: 50px;
  }
}
.banner-promo {
  background: linear-gradient(to bottom, #ffffff 0, rgba(255, 255, 255, 0) 100px), #eaf4f8;
}
@media (min-width: 1200px) and (max-width: 999999px) {
  .banner-promo {
    padding: 50px 0;
  }
}
.banner-promo .banner-waves > svg {
  max-height: calc(100% + 85px);
}
.banner-waves > svg {
  transform: translate3d(0, 0, 0);
}
.benefits {
  background: linear-gradient(to bottom, #ffffff 0, rgba(255, 255, 255, 0) 100px), #eaf4f8;
}
.benefits-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 30px;
}
@media (min-width: 992px) and (max-width: 999999px) {
  .benefits-container {
    padding-bottom: 100px;
  }
}
.benefits-item {
  width: 100%;
  margin-bottom: 2rem;
  text-align: center;
}
@media (min-width: 600px) and (max-width: 999999px) {
  .benefits-item {
    width: 42%;
    margin: 2rem 2rem 2rem 0;
    text-align: start;
  }
}
@media (min-width: 992px) and (max-width: 999999px) {
  .benefits-item {
    width: 26%;
  }
}
.benefits-item > svg {
  width: 40px;
  height: 40px;
  fill: #0082ca;
  stroke: #0082ca;
}
.benefits-title {
  margin: 1rem 0;
}
.benefits-description {
  font-size: 1rem;
}
@media (min-width: 600px) and (max-width: 999999px) {
  .features-container {
    padding-top: 100px;
  }
}
.features-header {
  padding-top: 1.25rem;
  width: 100%;
  text-align: center;
}
@media (min-width: 992px) and (max-width: 999999px) {
  .features-header {
    width: 60%;
    text-align: left;
  }
}
.features-header h3 {
  color: #0082ca;
}
.features-list {
  display: grid;
  align-items: start;
  grid-template-columns: 1fr;
}
@media (min-width: 992px) and (max-width: 999999px) {
  .features-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
.features-item {
  position: relative;
  padding-left: 1.5rem;
  margin: 1rem 0;
}
@media (min-width: 992px) and (max-width: 999999px) {
  .features-item {
    margin: 2rem 0;
    padding-left: 2rem;
    padding-right: 3rem;
  }
}
.features-item::before {
  content: '';
  background: #0082ca;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 32px;
  transform: rotate(8deg);
  transform-origin: bottom left;
}
@media (min-width: 992px) and (max-width: 999999px) {
  .features-item::before {
    left: 5px;
    width: 2px;
    height: 100%;
    transform: rotate(7deg);
    transform-origin: bottom left;
  }
}
.bv-container {
  background-color: #d0ebf9;
  padding: 2rem;
  margin-bottom: 75px;
}
@media (min-width: 992px) and (max-width: 999999px) {
  .bv-container {
    padding: 5rem 0;
    margin-bottom: 150px;
  }
}
.bv-list {
  display: flex;
  justify-content: center;
  line-height: 1;
}
@media (min-width: 1px) and (max-width: 991px) {
  .bv-list {
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
  }
}
.bv-block {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  flex: 1 1 23%;
}
.bv-divider {
  position: relative;
  width: 50px;
  height: 100px;
}
@media (min-width: 992px) and (max-width: 999999px) {
  .bv-divider {
    height: 130px;
  }
}
.bv-divider::after {
  content: '';
  background-color: #0082ca;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2px;
  transform-origin: bottom left;
  transform: rotate(0.46rad);
  height: 111.80339887;
}
@media (min-width: 992px) and (max-width: 999999px) {
  .bv-divider::after {
    transform: rotate(0.3666rad);
    height: 139.28388277;
  }
}
.bv-item {
  text-align: start;
  padding: 1rem;
  line-height: 1.2em;
}
@media (min-width: 1200px) and (max-width: 999999px) {
  .bv-item {
    padding: 1rem 2rem;
  }
}
.bv-item-title {
  display: block;
}
.bv-item-description {
  margin: 0;
}
.article {
  margin-bottom: 100px;
}
.article-title {
  text-align: left;
  margin-bottom: 30px;
}
.article-description {
  margin-top: 24px;
}
@media (min-width: 1200px) and (max-width: 999999px) {
  .article-description {
    width: 50%;
  }
}
.article-heading {
  color: #0082ca;
}
.article-content {
  display: block;
  margin-bottom: 30px;
}
@media (min-width: 992px) and (max-width: 999999px) {
  .article-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'first second third' 'first fourth fifth';
    margin-bottom: 50px;
    grid-gap: 10px;
  }
}
.article-link {
  display: block;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  border: 2px solid #eaf4f8;
  border-radius: 10px;
  padding: 10px;
}
.article-link:hover {
  text-decoration: none;
  color: inherit;
  background: #eaf4f8;
}
@media (min-width: 992px) and (max-width: 999999px) {
  .article-link {
    padding: 20px;
    height: 100%;
  }
}
.article-item {
  margin-bottom: 1rem;
}
@media (min-width: 992px) and (max-width: 999999px) {
  .article-item {
    margin-bottom: 0;
  }
}
.article-item-title {
  font-weight: 500;
  font-size: 20px;
}
.article-item-taglist {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}
.article-item-taglist-tag {
  flex: 0 0 auto;
  padding: 0 5px 0 0;
  color: #339bd5;
  font-size: 0.875rem;
  font-weight: 500;
}
.article-item-date {
  font-size: 0.875rem;
  opacity: 0.6;
  height: 1.5rem;
  color: inherit;
  margin: 20px 0;
  text-align: start;
}
.article-item-img {
  margin-bottom: 1rem;
}
@media (min-width: 600px) and (max-width: 991px) {
  .article-item-img {
    margin-bottom: 0;
  }
  .article-item-img-container {
    width: 40%;
    float: left;
    margin-right: 1rem;
  }
}
.article-item-img.esl-image {
  height: auto;
}
.article-item-description {
  font-size: 1rem;
}
@media (min-width: 992px) and (max-width: 999999px) {
  .article-item-description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
.article-1 {
  grid-area: first;
}
.article-2 {
  grid-area: second;
}
.article-3 {
  grid-area: third;
}
.article-4 {
  grid-area: fourth;
}
.article-5 {
  grid-area: fifth;
}
.article-btn {
  display: flex;
  justify-content: center;
}
[esl-scroll-lock] {
  overflow: hidden !important;
}
[esl-scroll-lock]:not(html[esl-scroll-lock='native'])::-webkit-scrollbar {
  display: none !important;
}
html[esl-scroll-lock] body {
  overflow: hidden !important;
}
html[esl-scroll-lock='native'] {
  overflow-y: scroll !important;
}
html[esl-scroll-lock='native'] body {
  max-width: 100vw !important;
  max-height: 100vh !important;
}
html[esl-scroll-lock='pseudo'] {
  display: flex !important;
  align-items: stretch !important;
}
html[esl-scroll-lock='pseudo']:dir(rtl) {
  flex-flow: row-reverse !important;
}
html[esl-scroll-lock='pseudo'] body {
  flex: 1 1 100% !important;
}
html[esl-scroll-lock='pseudo']::before {
  content: '';
  overflow-y: scroll;
  flex: 0 0 auto;
  order: 2;
  visibility: hidden;
}
html[esl-scroll-lock='pseudo']::after {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  z-index: 999999;
}
html[esl-scroll-lock='pseudo'] > img,
html[esl-scroll-lock='pseudo'] > iframe {
  flex: 0 1 auto !important;
}
esl-image {
  display: block;
  width: 100%;
  padding: 0;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
esl-image[lazy]:not([ready]) {
  min-height: 1px;
}
esl-image[mode='origin'] {
  display: inline-block;
  width: auto;
  height: auto;
}
esl-image[mode='cover'] {
  height: 100%;
}
esl-image[mode='save-ratio'] {
  height: 0;
}
esl-image[mode='inner-svg'] svg {
  max-width: 100%;
  max-height: 100%;
}
esl-image .inner-image {
  max-width: 100%;
}
esl-image::after {
  display: none;
  content: attr(alt);
}
esl-image[error]::after {
  display: inline-block;
}
esl-image[loaded]::after {
  display: none;
}
esl-image[mode='fit'][error]::after,
esl-image[mode='origin'][error]::after {
  display: none;
}
esl-image.bg-flex {
  background-size: 100% 100%;
}
esl-image.bg-inscribe {
  background-size: contain;
}
esl-image.bg-v-top {
  background-position-y: top;
}
esl-image.bg-v-center {
  background-position-y: center;
}
esl-image.bg-v-bottom {
  background-position-y: bottom;
}
esl-image.bg-h-left {
  background-position-x: left;
}
esl-image.bg-h-center {
  background-position-x: center;
}
esl-image.bg-h-right {
  background-position-x: right;
}
.img-container {
  position: relative;
  overflow: hidden;
}
.img-container:not(.img-container-auto) esl-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.img-container:not(.img-container-auto) esl-image[mode='origin'],
.img-container:not(.img-container-auto) esl-image[mode='save-ratio'] {
  position: relative;
}
.img-container:not(.img-container-auto) esl-image[mode='fit'] {
  position: static;
  overflow: hidden;
}
.img-container:not(.img-container-auto) esl-image[mode='fit'] > .inner-image {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
}
@supports (object-fit: cover) {
  .img-container:not(.img-container-auto) esl-image[mode='fit'] > .inner-image {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: none;
    object-fit: cover;
  }
}
.img-container esl-image[lazy] {
  opacity: 0;
}
.img-container esl-image[lazy][ready] {
  opacity: 1;
  transition: opacity 0.4s;
}
.img-container.img-container-1-1 {
  padding-top: 100%;
}
.img-container.img-container-4-3 {
  padding-top: 75%;
}
.img-container.img-container-16-9 {
  padding-top: 56.25%;
}
esl-scrollbar {
  display: inline-block;
  position: absolute;
  cursor: default;
  overflow: hidden;
}
esl-scrollbar[inactive] {
  visibility: hidden;
}
esl-scrollbar.page-scrollbar {
  position: fixed;
}
esl-scrollbar .scrollbar-track {
  position: relative;
  border-radius: 3px;
  background: #e7e7e7;
}
esl-scrollbar .scrollbar-thumb {
  position: absolute;
  cursor: pointer;
  border-radius: 3px;
  background: #b5b5b5;
}
esl-scrollbar .scrollbar-thumb::after {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
}
esl-scrollbar[dragging] .scrollbar-thumb {
  background: #9a9a9a;
}
esl-scrollbar:not([horizontal]) {
  top: 0;
  bottom: 0;
  right: 0;
  padding: 0 5px;
}
esl-scrollbar:not([horizontal]) .scrollbar-track {
  top: 0;
  width: 6px;
  height: 100%;
}
esl-scrollbar:not([horizontal]) .scrollbar-thumb {
  width: 100%;
  height: 33.33%;
  min-height: 10px;
}
esl-scrollbar[horizontal] {
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5px 0;
}
esl-scrollbar[horizontal] .scrollbar-track {
  bottom: 0;
  height: 6px;
  width: 100%;
}
esl-scrollbar[horizontal] .scrollbar-thumb {
  height: 100%;
  width: 33.33%;
  min-width: 10px;
}
esl-scrollbar:not([horizontal]) {
  padding-top: 15px;
  padding-bottom: 15px;
}
esl-scrollbar:not([horizontal]) .scrollbar-track::before,
esl-scrollbar:not([horizontal]) .scrollbar-track::after {
  content: '';
  position: absolute;
  display: block;
  height: 10px;
  width: 100%;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 10' xml:space='preserve'%3E%3Cpolyline points='0,0 8,8 16,0' fill='none' stroke='%23BBBBBB' stroke-width='5'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}
esl-scrollbar:not([horizontal]) .scrollbar-track::before {
  top: -15px;
  transform: scaleY(-1);
}
esl-scrollbar:not([horizontal]) .scrollbar-track::after {
  bottom: -15px;
}
esl-scrollbar[horizontal] {
  padding-left: 15px;
  padding-right: 15px;
}
esl-scrollbar[horizontal] .scrollbar-track::before,
esl-scrollbar[horizontal] .scrollbar-track::after {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 10px;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 16' xml:space='preserve'%3E%3Cpolyline points='0,16 8,8 0,0' fill='none' stroke='%23BBBBBB' stroke-width='5'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}
esl-scrollbar[horizontal] .scrollbar-track::before {
  left: -15px;
  transform: scaleX(-1);
}
esl-scrollbar[horizontal] .scrollbar-track::after {
  right: -15px;
}
esl-scrollbar[at-end] .scrollbar-track::after,
esl-scrollbar[at-start] .scrollbar-track::before {
  opacity: 0.25;
}
.esl-scrollable-content {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.esl-scrollable-content::-webkit-scrollbar {
  display: none;
}
esl-trigger {
  cursor: pointer;
}
esl-toggleable {
  display: block;
}
esl-toggleable:not(.open) {
  display: none;
}
esl-toggleable-dispatcher {
  display: none;
}
esl-panel {
  display: block;
  height: auto;
  overflow: hidden;
  visibility: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in-out, visibility 0s linear 0.5s;
}
esl-panel.open {
  visibility: visible;
  max-height: none;
  transition: max-height 0.5s ease-in-out, visibility 0s linear;
}
@media print {
  esl-panel:not(.print-closed) {
    visibility: visible;
    max-height: none;
  }
}
esl-panel-group {
  display: block;
  box-sizing: content-box;
}
esl-panel-group.animate {
  transition: height 0.5s ease-in-out;
  overflow: hidden;
}
esl-panel-group[current-mode='tabs'] > esl-panel {
  opacity: 0;
  transition: max-height 0.5s ease-in-out, visibility 0s linear 0.5s, opacity 0.5s ease-in-out;
}
esl-panel-group[current-mode='tabs'] > esl-panel.open {
  opacity: 1;
  transition: max-height 0.5s ease-in-out, visibility 0s linear, opacity 0.5s ease-in-out;
}
@media screen {
  esl-panel-group:not(.animate) esl-panel:not(.animate):not(.open) * {
    visibility: hidden !important;
  }
}
esl-tab {
  cursor: pointer;
}
esl-tabs {
  display: block;
}
esl-tabs .esl-tab-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
esl-tabs.center-alignment > .esl-tab-container > :first-child {
  margin-left: auto;
}
esl-tabs.center-alignment > .esl-tab-container > :last-child {
  margin-right: auto;
}
esl-tabs.right-alignment > .esl-tab-container > :first-child {
  margin-left: auto;
}
esl-tabs[scrollable]:not(.scrollable-disabled) {
  display: flex;
  align-items: center;
}
esl-tabs[scrollable]:not(.scrollable-disabled) > .esl-tab-container {
  flex: 1 1 auto;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
}
esl-tabs[scrollable]:not(.scrollable-disabled) > .esl-tab-container.esl-scrollable-content {
  overflow: auto;
}
esl-tabs[scrollable]:not(.scrollable-disabled) .arrow-prev,
esl-tabs[scrollable]:not(.scrollable-disabled) .arrow-next {
  flex: 0 0 auto;
}
esl-tabs[scrollable][has-scroll] .arrow-prev,
esl-tabs[scrollable][has-scroll] .arrow-next {
  display: block;
}
esl-tabs[scrollable][has-scroll] .arrow-prev[disabled],
esl-tabs[scrollable][has-scroll] .arrow-next[disabled] {
  opacity: 0.1;
  cursor: auto;
}
esl-tabs[scrollable] .arrow-prev,
esl-tabs[scrollable] .arrow-next {
  display: none;
  z-index: 2;
  width: 35px;
  height: 35px;
  background: none;
  border: none;
  opacity: 0.5;
  cursor: pointer;
  appearance: none;
}
esl-tabs[scrollable] .arrow-next {
  right: 0;
}
esl-tabs[scrollable] .arrow-prev {
  left: 0;
}
esl-tabs[scrollable] .icon-arrow-next,
esl-tabs[scrollable] .icon-arrow-prev {
  display: block;
  height: 35px;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDUwIDUwIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCA1MCA1MCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cG9seWdvbiBwb2ludHM9IjMxIDQwIDE2IDI1IDMxIDEwIDMzIDEyIDIwIDI1IDMzIDM4Ii8+PC9zdmc+) no-repeat;
}
esl-tabs[scrollable] .icon-arrow-next {
  transform: scaleX(-1);
}
[dir='rtl'] esl-tabs[scrollable] .icon-arrow-prev,
esl-tabs[scrollable][dir='rtl'] .icon-arrow-prev {
  transform: scaleX(-1);
}
[dir='rtl'] esl-tabs[scrollable] .icon-arrow-next,
esl-tabs[scrollable][dir='rtl'] .icon-arrow-next {
  transform: none;
}
/**
 * VS theme by Andrew Lock (https://andrewlock.net)
 * Inspired by Visual Studio syntax coloring
 */

code[class*="language-"],
pre[class*="language-"] {
	color: #393A34;
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	font-size: .9em;
	line-height: 1.2em;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre > code[class*="language-"] {
	font-size: 1em;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	background: #C1DEF1;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	background: #C1DEF1;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	border: 1px solid #dddddd;
	background-color: white;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .2em;
	padding-top: 1px;
	padding-bottom: 1px;
	background: #f8f8f8;
	border: 1px solid #dddddd;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #008000;
	font-style: italic;
}

.token.namespace {
	opacity: .7;
}

.token.string {
	color: #A31515;
}

.token.punctuation,
.token.operator {
	color: #393A34; /* no highlight */
}

.token.url,
.token.symbol,
.token.number,
.token.boolean,
.token.variable,
.token.constant,
.token.inserted {
	color: #36acaa;
}

.token.atrule,
.token.keyword,
.token.attr-value,
.language-autohotkey .token.selector,
.language-json .token.boolean,
.language-json .token.number,
code[class*="language-css"] {
	color: #0000ff;
}

.token.function {
	color: #393A34;
}

.token.deleted,
.language-autohotkey .token.tag {
	color: #9a050f;
}

.token.selector,
.language-autohotkey .token.keyword {
	color: #00009f;
}

.token.important {
	color: #e90;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.class-name,
.language-json .token.property {
	color: #2B91AF;
}

.token.tag,
.token.selector {
	color: #800000;
}

.token.attr-name,
.token.property,
.token.regex,
.token.entity {
	color: #ff0000;
}

.token.directive.tag .tag {
	background: #ffff00;
	color: #393A34;
}

/* overrides color-values for the Line Numbers plugin
 * http://prismjs.com/plugins/line-numbers/
 */
.line-numbers.line-numbers .line-numbers-rows {
	border-right-color: #a5a5a5;
}

.line-numbers .line-numbers-rows > span:before {
	color: #2B91AF;
}

/* overrides color-values for the Line Highlight plugin
* http://prismjs.com/plugins/line-highlight/
*/
.line-highlight.line-highlight {
	background: rgba(193, 222, 241, 0.2);
	background: -webkit-linear-gradient(left, rgba(193, 222, 241, 0.2) 70%, rgba(221, 222, 241, 0));
	background: linear-gradient(to right, rgba(193, 222, 241, 0.2) 70%, rgba(221, 222, 241, 0));
}

