<sly data-sly-use.data="com.exadel.aem.toolkit.samples.models.SecretInfoComponent"></sly>
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"></sly>
<sly data-sly-call="${clientlib.css @ categories='etoolbox-authoring-kit.samples.components'}"></sly>
<sly data-sly-call="${clientlib.js @ categories='etoolbox-authoring-kit.samples.components'}"></sly>

<div class="secret-info-wrap">
    <form class="secret-info-password-form">
        <span class="secret-info-password-title">Enter password to unlock secret info</span>
        <input class="secret-info-password" type="password" size="40" data-password="${data.password || '1111' @ context='text'}">
        <button class="secret-info-password-submit">Submit</button>
        <div class="secret-info-error-wrap"><span class="secret-info-error" hidden>Invalid password</span></div>
    </form>
    <div class="secret-info-text-wrap" style="display: none">
        <div class="secret-info-text" >${data.info || 'This warrior has no secrets' @ context='html'}</div>
        <button class="secret-info-text-hide">Hide</button>
    </div>
</div>
