name: GH Pages Build and Deploy

on:
    push:
        branches: [ master ]
    workflow_dispatch:

env:
    node-version: 18.x

jobs:
    deploy-gh-pages:
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v3
            -   name: Use Node v${{ env.node-version }}
                uses: actions/setup-node@v3
                with:
                    node-version: ${{ env.node-version }}
            -   name: Install NPM Dependencies
                run: npm ci
                working-directory: docs/website
            -   name: Build
                run: npm run build
                working-directory: docs/website
            -   name: Deploy
                uses: JamesIves/github-pages-deploy-action@v4
                with:
                    branch: gh-pages
                    folder: docs/website/dist
